@use "../styles/media-queries.module.scss";

.button {
  display: flex; // Use flexbox
  height: 48px; // Set height
  flex-grow: 1; // Allow button to grow
  align-items: center; // Center items vertically
  justify-content: center; // Center items horizontally
  gap: 0.5rem; // Gap between items
  border-radius: 0.375rem; // Rounded corners
  background-color: #f9fafb; // Light gray background
  padding: 0.75rem; // Padding
  font-size: 0.875rem; // Font size
  font-weight: 500; // Medium font weight
  transition: background-color 0.2s, color 0.2s; // Transition effects

  &:hover {
    background-color: #e0f2fe; // Light blue on hover
    color: #3b82f6; // Blue text on hover
  }

  // Styles for medium screens
  @extend .show-on-md; // Using the class from globals.scss
  &.show-on-md {
    justify-content: flex-start;
    padding: 0.5rem 0.75rem;
  }
}

.link-icon {
  width: 24px; // Set width equivalent to Tailwind's w-6
  height: auto; // Maintain aspect ratio
}

.link-active {
  background-color: #e0f7fa; // Example active background
  color: #00796b; // Example active text color
  font-weight: bold;
}
