<div class="sidebar-container">
  <h3> CATEGORIAS </h3>
  <ul class="category-list">
    <li class="category-item">
      <label> Anéis </label>
      <div class="amount"> 20</div>
    </li>
    <li class="category-item">
      <label> Colares </label>
      <div class="amount"> 13</div>
    </li>
  </ul>

  <h3>PREÇO</h3>
  <div class="price-range">
    <div class="slider-container">
      <div class="slider-track"></div>

      <!-- Minimum Thumb -->
      <input type="range" class="slider thumb-min" [min]="baseMinPrice" [max]="baseMaxPrice" [value]="minPrice" (input)="onMinPriceChange($event)" />
      <!-- Maximum Thumb -->
      <input type="range" class="slider thumb-max" [min]="baseMinPrice" [max]="baseMaxPrice" [value]="maxPrice" (input)="onMaxPriceChange($event)" />
      <!-- Range Highlight -->
      <div class="slider-range" [style.left.%]="((minPrice - baseMinPrice) / (baseMaxPrice - baseMinPrice)) * 100"
        [style.width.%]="((maxPrice - minPrice) / (baseMaxPrice - baseMinPrice)) * 100"></div>
    </div>

    <p>Preço: R${{ minPrice }} - R${{ maxPrice }}</p>
  </div>
</div>
