<div class="sidebar-container">
  <div class="logo-container">
    <img src="../../../../assets/logo-ags-nome.png" alt="logo image" class="logo-image--nome" routerLink="/" />
  </div>
  <ul class="sidebar-menu">
    <li class="nav-item" routerLink="/">
      <mat-icon>home</mat-icon>
      <a routerLink="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item" routerLink="external-api">
      <mat-icon>shopping_cart</mat-icon>
      <a routerLink="external-api" class="nav-link">Loja</a>
    </li>
    <li class="nav-item" routerLink="/">
      <mat-icon>perm_phone_msg</mat-icon>
      <a routerLink="/" class="nav-link" (click)="isCollapsed = !isCollapsed">Contato</a>
    </li>
    <li class="nav-item" *ngIf="!isAuthenticated" (click)="loginWithRedirect()">
      <mat-icon>login</mat-icon>
      <a id="login-btn" class="nav-link">Log in</a>
    </li>
    <li class="nav-item" *ngIf="isAuthenticated">
      <mat-icon>edit</mat-icon>
      <a routerLink="product-management" class="nav-link">Gerenciar Produtos</a>
    </li>
    <li class="nav-item" *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <a class="nav-link">Log out</a>
    </li>
  </ul>
</div>