<div class="sidebar-container">
    <div class="logo-container">
        <img src="../../../../assets/logo-ags-nome.png" alt="logo image" class="logo-image--nome" routerLink="/" />
    </div>
    <ul class="sidebar-menu">
        <li class="nav-item" routerLink="/">
            <mat-icon>home</mat-icon>
            <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item" routerLink="external-api">
            <mat-icon>shopping_cart</mat-icon>
            <a routerLink="external-api" class="nav-link">Loja</a>
        </li>
        <li class="nav-item" routerLink="/">
            <mat-icon>perm_phone_msg</mat-icon>
            <a routerLink="/" class="nav-link" (click)="isCollapsed = !isCollapsed">Contato</a>
        </li>
        <li class="nav-item" *ngIf="(auth.isAuthenticated$ | async) === false" (click)="loginWithRedirect()">
            <mat-icon>account_circle</mat-icon>
            <a id="login-btn" class="nav-link" (click)="loginWithRedirect()">Log in</a>
        </li>
        <li class="nav-item submenu" *ngIf="auth.user$ | async as user">
            <div>
                <img [src]="user.picture" alt="Profile picture" class="user-img">
                <a href="" class="nav-link">{{user.given_name}}</a>
            </div>
            <ul class="sidebar-submenu">
                <li class="nav-item" routerLink="/profile">
                    <mat-icon>person</mat-icon>
                    <a routerLink="/profile" class="nav-link">Perfil</a>
                </li>
                <li class="nav-item" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <a class="nav-link" (click)="logout()">Log out</a>
                </li>
            </ul>
        </li>
    </ul>
</div>