<nav class="navbar">
  <div class="spacer"></div>

  <div class="navbar-brand">
    <img src="../../../../assets/logo-ags.png" alt="logo image" class="logo-image" routerLink="/" />
    <img src="../../../../assets/logo-ags-nome.png" alt="logo image" class="logo-image--nome" routerLink="/" />
  </div>

  <button class="navbar-toggler" type="button" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span [class.nav-hamburger]="isCollapsed" [class.active]="!isCollapsed"></span>
  </button>

  <div class="spacer"></div>

  <div class="user-area">
    <!-- If user is not authenticated, show login button -->
    <div *ngIf="!isAuthenticated" class="user-area" (click)="loginWithRedirect()">
      <mat-icon>account_circle</mat-icon>
    </div>

    <!-- If user is authenticated and profile exists, show profile picture and menu -->
    <div *ngIf="isAuthenticated && user" class="user-area" (click)="userCollapsed = !userCollapsed">
      <!-- Profile picture -->
      <img [src]="user?.photoURL" alt="Profile picture" class="user-img" />
      <div [class.hidden]="userCollapsed" [class.user-menu]="!userCollapsed">
        <ul class="user-submenu">
          <li class="nav-item">
            <a href="" class="nav-link">{{ user?.displayName }}</a>
          </li>
          <li class="nav-item">
            <mat-icon>person</mat-icon>
            <a routerLink="/profile" class="nav-link">Perfil</a>
          </li>
          <li class="nav-item" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <a class="nav-link">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="menu navbar-collapse" [class.collapse]="isCollapsed">
    <ul class="navbar-menu">
      <li class="nav-item">
        <mat-icon>home</mat-icon>
        <a routerLink="/" class="nav-link" (click)="isCollapsed = !isCollapsed">Home</a>
      </li>
      <li class="nav-item">
        <mat-icon>shopping_cart</mat-icon>
        <a routerLink="external-api" class="nav-link" (click)="isCollapsed = !isCollapsed">Loja</a>
      </li>
      <li class="nav-item">
        <mat-icon>perm_phone_msg</mat-icon>
        <a routerLink="/" class="nav-link" (click)="isCollapsed = !isCollapsed">Contato</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <mat-icon>edit</mat-icon>
        <a routerLink="product-management" class="nav-link">Gerenciar Produtos</a>
      </li>
      <li *ngIf="!isAuthenticated" class="nav-item">
        <mat-icon>account_circle</mat-icon>
        <a class="nav-link" (click)="loginWithPopup()">Log in</a>
      </li>
      <!-- User profile and logout links if authenticated -->
      <li *ngIf="isAuthenticated && user" class="nav-item">
        <img [src]="user?.photoURL" alt="Profile picture" class="user-img" />
        <a routerLink="/profile" class="nav-link">{{ user?.displayName }}</a>
      </li>
      <li *ngIf="isAuthenticated && user" class="nav-item">
        <mat-icon>logout</mat-icon>
        <a class="nav-link" (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>
</nav>