<div class="container mt-5" *ngIf="user$ | async as user">
  <div class="row align-items-center profile-header mb-5 text-center text-md-left">
    <div class="col-md-2">
      <img [src]="user.photoURL" class="rounded-circle img-fluid profile-picture mb-3 mb-md-0" alt="User Profile Picture" />
    </div>
    <div class="col-md">
      <h2>{{ user.displayName || 'No Name' }}</h2>
      <p class="lead text-muted">{{ user.email || 'No Email' }}</p>
    </div>
  </div>

  <div class="row" *ngIf="profileJson">
    <pre class="rounded">
      <code class="json">{{profileJson}}</code>
    </pre>
  </div>
</div>