<div class="admin-product-page">
  <h2>Gerenciar produtos</h2>

  <!-- Form for Creating/Editing Product -->
  <div class="product-form">
    <h3>{{ editingProduct ? "Editar Produto" : "Criar Produto" }}</h3>
    <form [formGroup]="productForm" (ngSubmit)="onSubmitProductForm()">
      <div class="form-group">
        <label for="name">Nome:</label>
        <input id="name" type="text" formControlName="name" required placeholder="Nome do Produto" />
      </div>

      <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea id="description" formControlName="description" rows="3" placeholder="Descrição do Produto"></textarea>
      </div>

      <div class="form-group">
        <label for="price">Preço:</label>
        <input id="price" type="number" formControlName="price" required placeholder="Preço do Produto" />
      </div>

      <div class="form-group">
        <label for="availability">Disponibilidade:</label>
        <select id="availability" formControlName="availability">
          <option [value]="true">Disponível</option>
          <option [value]="false">Indisponível</option>
        </select>
      </div>

      <div class="form-group">
        <label for="category">Categoria:</label>
        <input id="category" type="text" formControlName="category" placeholder="Separado por vírgulas (ex. pulseira, colar)" />
      </div>

      <button type="submit" class="btn btn-primary">
        {{ editingProduct ? "Atualizar" : "Criar" }}
      </button>
      <button *ngIf="editingProduct" type="button" class="btn btn-secondary" (click)="cancelEdit()">
        Cancel
      </button>
    </form>
  </div>

  <!-- Product Table -->
  <div class="product-table">
    <h3>Produtos existentes</h3>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Disponibilidade</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (product of productsList; track $index) {
        <tr>
          <td>{{ product.name | capitalize }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency:'BRL' }}</td>
          <td>{{ product.availability ? "Sim" : "Não" }}</td>
          <td>{{ product.category.join(", ") }}</td>
          <td>
            <mat-icon class="btn btn-warning-icon" (click)="onEditProduct(product)">edit</mat-icon>
            <mat-icon class="btn btn-danger-icon" (click)="onDeleteProduct(product)">delete_outline</mat-icon>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>