<div class="product-list">
  <app-dynamic-text></app-dynamic-text>
  <ul class="card">
    @for (product of productsList; track $index) {
    <li (click)="navigateToProductDetails(product)">
      <img
        [src]="product.image || 'https://firebasestorage.googleapis.com/v0/b/rodriguesdev-2d63d.appspot.com/o/images%2Fno_image.png?alt=media&token=4af2c1c2-3f7c-439a-8f43-26183123748d'"
        alt="Imagem do Produto" />
      <div class="product-details">
        <h3 class="card-title">{{ product.name | capitalize }}</h3>
        <p class="card-text">{{ product?.description }}</p>
        <p class="price">{{ product.price | currency: 'BRL' }}</p>
      </div>
    </li>
    }
  </ul>
</div>
