@import '../app/components/shared/styles/media-query.less';

.sidebar-component{
    display: block;
}
.navbar-component{
    display: none;
}

@media @mobile {
    .sidebar-component{
        display: none;
    }
    .navbar-component{
        display: block;
    }
}