// styles.less
@import "./app/shared/styles/global_colors.less";

body {
  background-color: @body-bg;
  color: @text-color;
  font-family: Arial, sans-serif;
}

html, body { height: 100%; }
mat-icon {
    fill: @color-primary ;
}