<div class="container mt-5">
  <h1>External API</h1>

  <div *ngIf="hasApiError" class="alert alert-danger" role="alert">
    An error occurred when trying to call the API. Please check your internet connection or the server.
  </div>

  <ng-container *ngIf="!audience">
    <div class="alert alert-warning" role="alert">
      <p>
        You can't call the API at the moment because the audience value is not set or is incorrect.
        Ensure your app is configured with the correct audience value in Firebase or your config file.
      </p>
    </div>
  </ng-container>

  <p class="mb-5">
    Click the button below to fetch products from an external API.
  </p>

  <div class="d-flex flex-column">
    <button class="btn btn-primary mb-5" [disabled]="!audience" (click)="getProducts()">
      Get Products
    </button>
  </div>

  <div class="result-block-container" *ngIf="responseJson">
    <div class="result-block" [class]="{ show: !!responseJson }">
      <h6 class="muted">Result</h6>
      <pre><code class="js rounded">{{responseJson}}</code></pre>
    </div>
  </div>

  <div class="result-block-container" *ngIf="productsList">
    <div class="result-block" [class]="{ show: !!productsList }">
      <h6 class="muted">Products</h6>
      <pre><code class="js rounded">{{productsList}}</code></pre>
    </div>
  </div>
</div>